<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myself.dao.AccountDao">
    <select id="search" parameterType="java.lang.Integer" resultType="bean.AccountAccount">
        select * from account3 where id = #{i}
    </select>
    
    <insert id="insert" parameterType="bean.AccountAccount">
        insert into account3(id,usern,password)
        values (#{id},#{usern},#{password})
    </insert>

</mapper>